/* src/App.css */

.form-class {
    height: 45%;
    width: 170%;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 5%;
    padding: 10%;
    border-radius: 5%;
    background-color: #ffffff;
    color:#115061ce;
  }
  
  .form-group {
    text-align: left;

    margin-bottom: 15px;
    margin-top: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
  }
  
  .form-group input {
    width: 100%;
    padding: 8px;
    border: none;
    border-bottom: 1px solid #D6EFD8;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    background-color: transparent;
  }
  
  .form-group input:focus {
    border-bottom: 1px solid black;
  }
  
  button {
    background-color: #115061ce;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #115061ce;
  }
  